.underlined {
    border-bottom: 2px solid #000;
    display: inline-block;
    position: relative;
  }
  
  .underlined::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30%;
    border-bottom: 4px solid #000;
  }
  
  .underlined::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 30%;
    border-bottom: 4px solid #000;
  }
  