body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #8B0000; /* Rojo oscuro */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
  }
  
  section {
    background-color: #8B4513; /* Marrón */
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
  }
  
  p {
    font-size: 16px;
  }
  