.navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation-list li {
    background-color: navy;
    border: 2px solid black;
  }
  
  .navigation-list li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .navigation-list li:hover {
    background-color: darkblue;
  }
  
  .navigation-list li:hover a {
    color: lightblue;
  }
  