.frutaManzana {
    color: red;
  }
  
  .frutaBanana {
    color: yellow;
  }
  
  .frutaNaranja {
    color: orange;
  }
  
  .frutaKiwi {
    color: green;
  }
  
  .frutaUva {
    color: purple;
  }
  